body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(107, 159, 166);
}
.container{
    background-color: rgb(248, 210, 153);
    margin: 100px auto; 
    padding: 10px;
    border-radius: 500px;
    box-shadow: 20 0 20px rgb(59, 66, 67);
    max-width: 700px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: -10 10px;
    width: 100%;
}
input,button{
    margin-top: 10px ;
    margin-bottom: 20px;
    padding: 10px 10px;
    width: 10% ;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
button{
    background-color: rgb(204, 187, 57);
    font-weight: bolder;
    position: relative;
}

button:hover {
    background-color: #3fa242;
}

#result {
    font-size: 20px;
    margin-top: 20px;
}
.bottom{
    color: rgb(0, 1, 2); 
}